<%-include('partials/header2.ejs')%>

 
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Guides</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Guides</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


      <!-- Team Start -->
    <div class="container-xxl py-5">
        
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
            <h1 class="mb-5">Meet Our Guide</h1>
        </div>
        <style>img{
            border-radius: 25px;
            
        }
        img:hover{
            transform: scale(1.1);
            transition: all ease-in-out 0.3s;
            
        }</style>
        <center><img src="./images/figure.jpg" alt="Guide" width="800px" height="400px"></center>
    
</div>



    <%-include('partials/footer2.ejs')%>
